.matches {
    padding: 18px 30px;
    display: grid;
    grid-template-columns: 208px auto;
}

@media (max-width: 400px) {
    .matches {
        grid-template-columns: auto;
        padding: 18px 0;
    }
    .favorite img{
        min-width: 19px;
        min-height: 19px;
    }
}