.app-header {
    grid-area: header;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(45, 40, 94, 0.06);
}

.app-header .container{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 20px 40px;
}

.header-title{
    font-size: 16px;
    line-height: 24px;
}

.log-in{
    border: 1px solid #1E99C7;
    box-sizing: border-box;
    background-color: white;
    border-radius: 3px;
    padding: 4px 20px;
}
.log-in:hover{
    transform: scale(1.02);
}
@media (max-width: 400px) {
    .header-title{
        display: none;
    }
    .app-header .container{
        padding: 10px 20px;
    }
}