.btn-collapse {
    cursor: pointer;
    font-size: 13px;
    padding: 10px 0;
    line-height: 20px;
    position: relative;
}

.btn-collapse::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 16px;
    height: 5px;
    width: 9px;
    background: url('Triangle.png') no-repeat;
}

.active .btn-collapse::after {
    transform: rotate(180deg);
}

.collapse-list {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 270ms ease 0ms;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
}

.collapse-list p {
    margin-bottom: 7px;
}

.collapse-list span {
    cursor: pointer;
    color: #858585;
}

.active .collapse-list {
    opacity: 1;
    max-height: 1000px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}